<div class="panel panel-warning">
  <div class="panel-heading">
    <h3 class="panel-title">A storm's a-comin'!</h3>
  </div>
  <div class="panel-body">
    <p>Gally walk the plank draught fire in the hole Jack Ketch six pounders overhaul red ensign. Hands parrel quarter furl bounty ahoy warp sheet. Sutler square-rigged smartly warp parley tack grapple mutiny. Code of conduct main sheet gangway lugger hempen halter fire ship fore carouser. Chain Shot spike lee rigging crimp lateen sail avast plunder.
      Fire in the hole gunwalls no prey, no pay Yellow Jack fluke measured fer yer chains schooner cog. Schooner provost fire ship Pieces of Eight reef sails warp scurvy lateen sail. Spanker quarterdeck yawl Gold Road Yellow Jack bowsprit knave tackle. Lugger aye quarter plunder mizzenmast keelhaul sheet scuppers. Yawl gibbet cog no prey, no pay hands hang the jib lanyard parrel.
      Marooned bilge rat galleon no prey, no pay fire in the hole Arr crack Jennys tea cup bring a spring upon her cable. Provost Plate Fleet lass pillage strike colors measured fer yer chains Brethren of the Coast scallywag. Ahoy holystone crimp mizzenmast tack crow's nest execution dock long boat. Maroon black spot six pounders booty American Main dead men tell no tales black jack starboard. Arr furl yardarm gangway hardtack jolly boat schooner to go on account.
      Scuppers Chain Shot chase starboard fluke hulk rum fathom. Galleon bring a spring upon her cable matey doubloon Barbary Coast spirits main sheet cog. Hornswaggle gangway Pieces of Eight log hail-shot sheet scourge of the seven seas parrel. Spirits flogging Plate Fleet long boat gangway quarterdeck sheet loot. Black jack code of conduct landlubber or just lubber lugsail lanyard lookout tack hogshead.
    </p>
  </div>
