<div class="panel panel-danger">
  <div class="panel-heading">
    <h3 class="panel-title">This is gonna be YUUUUGGE!!!!</h3>
  </div>
  <div class="panel-body">
    <p>Did you feel that? Look at me - I'm not out of breath anymore! It's OK to get Rib-grease on your face, because you're allowing people to see that you're proud of these ribs. I wrestled a bear once. A 750lbs black bear.
      Sometimes horses cough and fart at the same time, so stay out of the range of its butt muscle because a horses butt muscle is thick. It's OK to get Rib-grease on your face, because you're allowing people to see that you're proud of these ribs.
      I would like to give you a backstage pass to my imagination. I would like to give you a backstage pass to my imagination. When you get lost in your imaginatory vagueness, your foresight will become a nimble vagrant.
      You gotta go through it to see there ain't nothing to it. I've accepted the fact that what I want to do to find whats special about a woman is to be with women. And dress like them. And let them tell me what they feel like when they're dressed like that, because I can't do that if I go in there dressed like a man.
    </p>
  </div>
